@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,400;0,600;0,700;0,800;1,900&family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
header{
    position: fixed;
    background: rgba(255,255,255,.1);
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 100px;
    display: flex;
    justify-content: space-between;
    z-index: 999;
    transition: .5s ease;
}
header.stiky{
    position: sticky;
    background-color: #2442C8;
}
header .barnd{
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
header .navigition{
    position: relative;
    padding: 10px;
}
header .navigition a{
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: .5s ease;
}
header .navigition a:hover{
    color: #666;
}
section{
    padding: 100px;
}
.main{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(img/Wallpaper.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.main .content{
    max-width: 800px;
}
.main .content h2{
    color: #fff;
    font-size: 36px;
    font-weight: 500;
}
.main .content h2 span{
    font-size: 60px;
    font-weight: 600;
}
.animated-text{
    height: 70px;
    overflow: hidden;
    position: relative;
}
.animated-text h3{
    color: #0ea894ea;
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 1px;
}
.animated-text h3:nth-child(1){
    animation: text-move 10s infinite;
    -webkit-animation: text-move 10s infinite;
}
@keyframes text-move {
    0%{
        margin-top: 0;
    }
    25%{
        margin-top: -70px;
    }
    50%{
        margin-top: -140px;
    }
    75%{
        margin-top: -70px;
    }
    100%{
        margin-top: 0;
    }
}
.btn{
    color: #fff;
    background: #2442C8;
    font-size: 17px;
    font-weight: 600;
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    
    border-radius: 6px;
    margin: 20px 0;
    transition: all .6s ease;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -ms-transition: all .6s ease;
    -o-transition: all .6s ease;
}
.btn:hover{
    background-color: #fff;
    color: #2442C8;
    border:1px solid #2442C8;
}
.media-icon a{
    color: #fff;
    margin-right: 30px;
    font-size: 36px;
}
.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section-title{
    position: relative;
    color: #0E549C;
    font-size: 38px;
    font-weight: 800;
    margin-bottom: 60px;
}
.section-title::before{
    content: '';
    position: absolute;
    top: 56px;
    left: 50%;
    width: 140px;
    height: 4px;
    background: #0E549C;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
}
.section-title::after{
    content: '';
    position: absolute;
    top: 50px;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #0E549C;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
}
.about .content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.about .content .col-left{
    position: relative;
    width: 45%;
}
.about .content .col-right{
    position: relative;
    width: 45%;
}
.about .content .img-card{
    position: relative;
    width: 100%;
    min-height: 450px;
}
.about .content .img-card img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-size: cover; */
    object-fit: cover;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.about .content-title{
    font-size: 26px;
    font-weight: 800;
    margin-bottom: 20px;
}
.paragraph-text{
    font-size: 17px;
}
.skills{
    background-color: #000016;
}
.skills .content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #fff;
    margin-top: 20px;
}
.skills .col-left{
    position: relative;
    width: 45%;
}
.skills .col-left .content-title{
    margin-bottom: 20px;
}
.skills .col-right{
    position: relative;
    width: 45%;
}
.skills .col-right .bar{
    margin-bottom: 15px;
    padding: 10px;
}
.skills .col-right .bar .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
.skills .col-right .bar .info span{
    font-size: 18px;
    font-weight: 500;
}

.skills .col-right .bar .line{
    position: relative;
    width: 100%;
    height: 15px;
    background: #ccc;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.skills .line::before{
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.skills .html::before{
    width: 95%;
    background-color: #E45126;
}
.skills .css::before{
    width: 85%;
    background-color: #0C73B8;
}
.skills .bootstrap::before{
    width: 80%;
    background-color: #6D7EB8;
}
.skills .sass::before{
    width: 85%;
    background-color: #C70067;
}
.skills .javascript::before{
    width: 75%;
    background-color:#E3A324;
}
.skills .jquery::before{
    width: 40%;
    background-color: #30DD6D;
}
.skills .react::before{
    width: 60%;
    background-color: #229AD5;
}
.skills .materialui::before{
    width: 40%;
    background-color: #0A5DAE;
}
.services .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;
}
.title p{
    width: 100%;
}

.line {
    width: 100%;
    height: 2px;
    background-color:#0E549C;
}

.work{
    background: #000016;
}
.work .content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
}

.btn.portfolio{
    position: relative;
    color: #30DD6D;
    width: 100%;
    text-align: center;
}

.work .content .card{
    width: 340px;
    margin: 15px;
}
.work .content .card-img{
    position: relative;
    width: 100%;
    height: 260px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    overflow: hidden;
}
.work .content .card-img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: .5s ease;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
}
.work .content .card-img img:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
.contact .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 20px;
}
.contact .content .row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.contact .content .row .card{
    background-color: #fff;
    width: 240px;
    margin: 20px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 25px rgba(1 1 1/15%);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.contact .content .row .card .contact-icon{
    color: #0E549C;
    font-size: 60px;
    text-align: center;
    transition: .5s ease;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
}
.contact .content .row .card:hover .contact-icon{
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
}
.contact .card .info h3{
    color: #111;
    font-size: 20px;
    font-weight: 700;
    margin: 10px;
    text-align: center;
}
.contact-form{
    background-color: #fff;
    max-width: 600px;
    margin-top: 50px;
    padding: 50px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 5px 25px rgba(1 1 1/15%);
}
.contact-form h3{
    color: #111;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
}
.contact-form .input-box{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
.contact-form .input-box input, textarea{
    color: #111;
    width: 100%;
    padding: 10px;
    font-size: 17px;
    font-weight: 400;
    outline: none;
    border: 1px solid #111;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    resize: none;
}
.contact-form .input-box .send-btn{
    color: #fff;
    background-color: #0E549C;
    display: inline-block;
    font-size: 19px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 100%;
    border: none;
    cursor: pointer;
    transition: .5s ease;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
}
.contact-form .input-box .send-btn:hover{
    color: #000;
    background-color: #fff;
    border: 1px solid #0E549C;
}
.footer{
    background: #000016;
    color: #fff;
    text-align: center;
    padding: 34px;
}
.footer-title{
    font-size: 20px;
    font-weight: 600;
}
.footer p{
    margin-top: 10px;
    font-size: 16px;
}


@media(max-width:1049px){
    header{
        padding: 12px 20px;
    }
    header .navigition{
        display: none;

    }
    header .navigition.active{
        z-index: 888;
        position: fixed;
        background: #fff;
        top: 0;
        right: 0;
        width: 380px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 0 5px 25px rgba(1 1 1/15%);
        transition: .3s ease;
        -webkit-transition: .3s ease;
        -moz-transition: .3s ease;
        -ms-transition: .3s ease;
        -o-transition: .3s ease;
    }
    header .navigition a{
        color: #000;
        font-size: 22px;
        margin: 10px;
        padding: 0 20px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }
    header .navigition a:hover{
        color: #fff;
        background: #0E549C;
    }

    .menu-btn{
        position: absolute;
        background: url(img/menu.png) no-repeat;
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        right: 0;
        margin: 0 20px;
        cursor: pointer;
        transition: .4s ease;
    }
    .menu-btn.active{
        z-index: 999;
        background: url(img/close.png) no-repeat;
        background-size: 25px;
        background-position: center;
        filter: invert(1);
        -webkit-filter: invert(1);
}
    section{
        padding: 80px 20px;
    }
    .main .content h2{
        font-size: 25px;
    }
    .main .content h2 span{
        font-size: 48px;
    }
    .main .content h3{
        font-size: 35px;
    }
    .section-title{
        font-size: 36px;
    }
    .about .content{
        flex-direction: column;
    }
    .about .content .column{
        width: 100%;
    }
    .about .content .col-right{
        margin-top: 40px;
    }
    .skills .content{
        flex-direction: column;
    }
    .skills .content .column{
        position: relative;
        width: 100%;
    }
    .skills .content .col-right{
        margin-top: 40px;
    }
    .contact-form{
        padding: 35px 40px;
    }
}
.scrollToTop-btn{
    z-index: 999;
    position: fixed;
    background: #0E549C;
    color: #fff;
    width: 45px;
    height: 45px;
    right: 0;
    bottom: 10px;
    font-size: 22px;
    text-align: center;
    line-height: 45px;
    border-radius: 3px;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    opacity: 0;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}
.scrollToTop-btn.active{
    right: 20px;
    opacity: 1;
}
.reveal{
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: all 1.5s ease;
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -ms-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
}
.reveal.active{
    transform: translateY(0);
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}